%section
  .hero-cinema
    .container
      .row
        .col-sm-8.col-sm-offset-2.text-center
          %h1 The Luke Purrwalker Cat Movie Theatre
      .row
        .col-sm-12.text-center
          .btn-group
            %a.page-scroll.btn.btn-default.btn-lg.btn-white{ href: '#booking' }
              %i.fa.fa-caret-down
              Learn more
