%section#introduction
  .white-background
    .container.content-section
      .row
        .col-lg-8.col-lg-offset-2.text-center.bg-danger
          %h1 Special announcement
          %p.alert
            Dear visitors! As it happens, many of our cats have come down with a cold of the last few days. We have our hands full with treating the patients, and operations at Catmosphere will be limited until everyone is healthy again:
            %br
            %br
            %b * We close at 6pm instead of 8pm
            %br
            * Cat cinema is closed until further notice;
            %br
            %b * Expect to see less cats at the café.
            %br
            %br
            Thank you for your understanding, and follow us on 
            %a{href: "http://www.facebook.com/catmospherecafe"} Facebook
            for updates.
      .row
        .col-lg-8.col-lg-offset-2.text-center
        %br
          %h4.text-center Chiang Mai Cat Café and Cinema
          %p.text-center
            At Catmosphere Chiang Mai you simply pop in, make your order and wait for the cats to stroll by. 
            / The café is open daily from 10:00am to 8:00pm. 
            We recommend coming in the morning or evening when the cats are most active! Check the
            %a{ :href => "#faq" } FAQ 
            and 
            %a{ :href => "#location" } location
            sections for directions.
        %br

      .row
        .col-sm-4.text-center
          %a{href: "http://shop.catmospherecafe.com/products/gift-voucher-catmosphere-cafe-chiang-mai", target: "_blank" }
            = image_tag('cooper.jpg', class: 'img-responsive')
            %br
            %h4.text-center Gift Voucher
          %p.text-center
            Save up to 20% by getting a gift voucher before you visit.
          %a{:href => "http://shop.catmospherecafe.com/products/gift-voucher-catmosphere-cafe-chiang-mai", :target => "_blank"}
            %button.btn.btn-success VIEW OPTIONS
        .col-sm-4.text-center
          %a{href: "#cinema"}
            = image_tag('catcinema-1.jpg', class: 'img-responsive')
            %br
            %h4.text-center Cat Cinema
          %p.text-center
            Make an 
            %a{href: "/chiangmai#cinema"} online reservation
            to get your exclusive 2 hour slot.
            %br
            %br
            %a{:href => "/chiangmai#cinema", :target => "_blank"}
              %button.btn.btn-success VIEW PACKAGES
        .col-sm-4.text-center
          %a{href: "http://shop.catmospherecafe.com/", target: "_blank" }
            = image_tag('t-shirts.jpg', class: 'img-responsive')
            %br
            %h4.text-center Space Cat Tees
          %p.text-center
            Get awesome t-shirts and other space cat articles.
            %br
            %br
            %a{:href => "http://shop.catmospherecafe.com/", :target => "_blank"}
              %button.btn.btn-success BUY NOW

