%section#team.container.content-section
  %h1.text-center
    Cat Crew Chiang Mai
  .row
    - team.each do |group, members|
      - members.each do |member|
        .row.table-padded
          .col-sm-4.col-sm-offset-1
            = image_tag('team/' + member[:image], class: 'img-responsive')
            %br
          .col-sm-6
            %h4
              = member[:name]
              %small
                = member[:title]
            = simple_format member[:cv]


