%section#cinema
  .white-background
    .container.content-section
      .row
        .col-sm-8.col-sm-offset-2.text-center
          = image_tag('catcinema-program.jpg', class: 'img-responsive', width: "600")
      .row
        .col-lg-8.col-lg-offset-2
          %p.text-center
            %br
            Book our cat cinema to enjoy a movie classic with cats or organize your "bring-your-own-movie" event.

      // .row
      //   .col-sm-4.col-sm-offset-2.centeredr
      //     =image_tag('catcinema-2.jpg', class: 'img-responsive')
      //     %br
      //   .col-sm-4.centered
      //     =image_tag('catcinema-1.jpg', class: 'img-responsive')
      //     %br

      .row
        .col-sm-8.col-sm-offset-2.centered
          %table.table.table-striped
            %thead
              %tr
                %th.text-center Package
                %th.text-center Description
                %th.text-center Date and time
            %tbody

              %tr
                %td
                  %b Movie Classics
                %td.text-left
                  %ul
                    Enjoy a surprise classic in the company of our cats. Popcorn and soft drinks included! 
                    %br
                    %br
                    Pricing: THB 250 / person
                %td
                  Can be booked any day between 10:00am and 8:00pm.
              %tr
                %td
                  %b Bring-Your-Own-Movie-Pack
                %td.text-left
                  %ul
                    Bring your own DVD, Bluray or USB drive to watch a movie with cats. Popcorn and soft drinks included!
                    %br
                    %br
                    Pricing: THB 250 / person
                %td
                  Can be booked any day between 10:00am and 8:00pm.

          %p.text-center
            %a{ :href => "/chiangmai/booking", target: '_blank'}
              %button.btn.btn-success Book now!
          %p.small.text-center 
            * Outside food and drinks are not allowed. Customers must bring their own movies on DVD, Bluray, or USB drive.


            For questions and bookings via phone, you can call us at 092-273-1011.