%section#cinema
  .white-background
    .container.content-section
      .row
        .col-lg-8.col-lg-offset-2
          %h2.text-center Cat Cinema
      .row
        .col-lg-4.col-lg-offset-2
          =image_tag('catcinema-1.jpg', class: 'img-responsive')
        .col-lg-4
          =image_tag('catcinema-2.jpg', class: 'img-responsive')
      .row
        .col-lg-8.col-lg-offset-2
          %br
          %p.text-center
            Guests can book our cat cinema and event room and enjoy exclusive time with the cats. Possible uses include: Watch-a-movie-with-cats (bring your own DVD, Bluray or USB drive), birthday parties, serious business meetings, or simply chilling with friends in good feline company.
          %p.text-center
            %a{ :href => "https://www.indiegogo.com/projects/catmosphere-sydney-space-cat-cafe/x/9804136"}
              %button.btn.btn-success Book now!
          %p.small.text-center For questions and booking, you can also call us at 092-273-1011.