%section#cinema
  .white-background
    .container.content-section
      %hr
      .row
        .col-lg-8.col-lg-offset-2.text-center
          %h3 Chiang Mai Cat Cinema Reservations
          %p.text-center
            %br
            With a cat cinema booking, you get the cinema room plus cats, popcorn and coke for a two hours timeslot. You can bring your own movie or enjoy a sci-fi or horror classic on our 100" screen and surround sound system. Simply make a reservation in our booking system and come to Catmosphere at your reserved time. You pay after your session is over.
            %br
            %br
      .row
        .col-sm-8.col-sm-offset-2.centered
          %table.table.table-striped
            %thead
              %tr
                %th.text-center Package
                %th.text-center Description
                %th.text-center Date and time
            %tbody

              %tr
                %td
                  %b Movie Classics
                %td.text-left
                  %ul
                    Enjoy a surprise classic in the company of our cats. Popcorn and soft drinks included! 
                    %br
                    %br
                    Pricing: THB 280 / person
                %td
                  Can be booked any day from 10:00am to 5:00pm.
              %tr
                %td
                  %b Bring-Your-Own-Movie-Pack
                %td.text-left
                  %ul
                    Bring your own DVD, Bluray or USB drive to watch a movie with cats. Popcorn and soft drinks included!
                    %br
                    %br
                    Pricing: THB 280 / person
                %td
                  Can be booked any day from 10:00am to 5:00pm.

          %p.text-center.bg-danger
            %b 
              Temporarily suspended!
            %br
            The cat cinema has been converted to a shelter for rescue kittens. Booking is deactivated for the time being... please come visit our normal shop instead.
          //%p.text-center
          //  %a{ :href => "https://catmosphere.schedulething.com/", target: '_blank'}
          //    %button.btn.btn-success Book now!
          %p.small.text-center 
            * Outside food and drinks are not allowed. Customers may bring their own movies on DVD, Bluray, or USB drive.


            For questions and bookings via phone, you can call us at 092-273-1011.