%section#faq
  .container.content-section
    .row
      %h2.text-center Frequently Asked Questions
      %p
        %b How do I get to Catmosphere Café?
        %br
        %br
        Catmosphere Café is located on Huay Kaew Road near Chiang Mai University. If you have a motorbike or car, follow Huay Kaew road until you pass a Dunkin' Donuts on the left. Shortly after you'll see a coffeeshop called "Mac Café" with the Apple logo on the left side. Turn left into the parking space - Catmosphere is three buildings to the left.
        %br
        %br
        You can also take a Tuk Tuk or red Songtaew. Tell them either "Catmosphere" or "Mac Café". If they don't know, tell them to go to Chiang Mai University and look out for the Catmosphere sign at the left of Huay Kaew Road. A Tuk Tuk ride from the center should cost 150 - 200 THB.
      %p
        %b What are your opening times? 
        %br
        %br
        We are open every day from 10am to 8pm.
      %p
        %b Is there an entry fee?
        %br
        %br
        We don't charge our guests any entry free provided they order at least one item from our menu. Guests who really don't want to eat or drink anything will be charged a fee of THB 100 / hour. 
      %p
        %b Is there an ideal time of day to visit the cats? 
        %br
        %br
        Cats tend to sleep for around 18 hours a day, and we have observed that many of our resident catstronauts favour the afternoon as their ideal period for a cat nap. If you (like us!) find the presence of sleeping cats to be therapeutic, the early afternoon is a supurrb time to visit. If, however, you prefer your space cats when they’re at their zaniest, we recommend booking a session for either the morning or evening.  
      %p
        %b Am I allowed to take photos with or of the cats? 
        %br
        %br
        Of course! Feel free to snap away (as well as share and hashtag to your heart’s content), however please be mindful not to use flash as this may distress the cats.
      %p
        %b Can I bring my children to Catmosphere?
        %br
        %br
        Yes, we currently allow children of all ages to enter the shop. Parents of young children are however required to watch their children at all times and make sure that the rules are followed. We'll not tolerate any harrassment of our cats, and we don't take responsibility for scratches or other injuries.
      %p
        %b Can I pick the cats up up?
        %br
        %br
        As each Catstronaut has different preferences when it comes to hooman interaction, we advise all of our guests to consult our staff before picking up any of our resident felines. Some love to be picked up and cuddled, some like to be admired from a distance, and some like to be gently stroked behind the ears. As the welfare of the cats is our priority, we ask that all guests respect the wishes of our intrepid space felines, and give them room when they so require it.
      %p
        %b Are your cats rescue cats?
        %br
        %br
        Our cat family is a mix of purchased and adopted cats.
      %p
        %b Can guests bring their own cats? 
        %br
        %br
        As much as we would love to allow guests to bring their own cats for a play date with ours, health considerantions prohibit us from hosting any external pets.
      %p
        %b Have more questions? Get in contact with us:
        %br
        %br
        ben[at]catmospherecafe[dot]com
%hr


