%section#hero-chiangmai
  .hero-body
    .container
      .row
        .col-sm-8.col-sm-offset-2.text-center
          %h2 Love cats as much as we do?
          %p{:style => "background: rgba(0,0,0,0.5);"} At Catmosphere Café Chiang Mai, you have a fun and carefree time watching cats sleep and play while enjoying a coffee or snack.
      .row
        .col-sm-12.text-center
          :plain
            <div id="TA_certificateOfExcellence262" class="TA_certificateOfExcellence" style="width:150px; margin-left: auto; margin-right:auto">
            <ul id="yekR6q" class="TA_links aOkFluEZp6">
            <li id="4ze9xIWU" class="1tOkku">
            <a target="_blank" href="https://www.tripadvisor.com/Attraction_Review-g293917-d6867829-Reviews-Catmosphere_Cat_Cafe-Chiang_Mai.html"><img width=100px src="https://www.tripadvisor.com/img/cdsi/img2/awards/CoE2016_WidgetAsset-14348-2.png" alt="TripAdvisor" class="widCOEImg" id="CDSWIDCOELOGO"/></a>
            </li>
            </ul>
            </div>
            <script src="https://www.jscache.com/wejs?wtype=certificateOfExcellence&amp;uniq=262&amp;locationId=6867829&amp;lang=en_US&amp;year=2016&amp;display_version=2"></script>      
