%section#hero-chiangmai
  .hero-body
    .container
      .row
        .col-sm-8.col-sm-offset-2.text-center
          %h2 Love cats as much as we do?
          %p{:style => "background: rgba(0,0,0,0.5);"} At Catmosphere Café Chiang Mai, you have a fun and carefree time watching cats sleep and play while enjoying a coffee or snack.
      .row
        .col-sm-12.text-center
          .btn-group
            %a.page-scroll.btn.btn-default.btn-lg.btn-white{ href: '#introduction' }
              %i.fa.fa-caret-down
              Learn more
      .row
        .col-sm-12.text-center
          %br
          %br
          :plain
              <div id="TA_cdsratingsonlynarrow901" class="TA_cdsratingsonlynarrow" style="width:130px; margin-left: auto; margin-right:auto">
              </div>
              <script src="http://www.jscache.com/wejs?wtype=cdsratingsonlynarrow&amp;uniq=901&amp;locationId=6867829&amp;lang=en_US&amp;border=true&amp;display_version=2"></script>