%section#introduction
  .white-background
    .container.content-section
      .row
        .col-sm-8.col-sm-offset-2.text-center
          =image_tag('Catmosphere-Logo.png', width: '150')
          %br
          %br
          %br
      .row
        .col-lg-8.col-lg-offset-2
          %h4.text-center Catmosphere Sydney Space Cat Café
          %p.text-center
            Australia's first space cat café consists of a regular café area and two separate cat rooms. While you can pop by any time to visit the café, spending time with our cats requires a reservation. Fortunately we have many paw-some activities that you can 
            %a{href: "#booking"} book right here on our website.
        %br
        %br
      %hr
