%section#introduction
  .white-background
    .container.content-section
      .row
        .col-lg-8.col-lg-offset-2
          %h4.text-center Sydney Cat Café
          %p.text-center
            
            You can pop by any time to visit the café. Our cats are kept in rooms separate from the café area, which require a reservation to enter.
        %br
      .row
        .col-sm-4.text-center
          = image_tag('catroom.jpg', class: 'img-responsive')
          %br
          %h4.text-center Cat Room
          %p.text-center
            Visit any time between 10:00am and 8:00pm. Check out the
            %a{ :href => "#faq" } FAQ 
            and 
            %a{ :href => "#location" } location
            sections to find out how to get there.
            // %a{ :href => "https://bookeo.com/catmosphere"}
            // %button.btn.btn-success Book now!
        .col-sm-4.text-center
          %a{href: "#cinema"}
            = image_tag('catyoga.jpg', class: 'img-responsive')
            %br
            %h4.text-center Cat Yoga
          %p.text-center
            Make an 
            %a{href: "/chiangmai#cinema"} online reservation
            to get your exclusive 2 hour slot.
          %br
        .col-sm-4.text-center
          // %a{href: "/downloads/Catmosphere-Franchisee-v1.0.pdf"}
          = image_tag('yours.jpg', class: 'img-responsive')
          %br
          %h4.text-center Shop Catmosphere
          %p.text-center
            Awesome t-shirts and other space cat articles are available in the café and web shop (coming soon).
          // Check out our products for cat lovers and help support cats in need.

