%section#introduction
  .white-background
    .container.content-section
      .row
        .col-lg-8.col-lg-offset-2
          %h4.text-center Sydney Space Cat Café
          %p.text-center
            Catmosphere Sydney consists of a regular café and two separate cat rooms. While you can pop by any time to visit the café, spending time with our cats requires a reservation. Fortunately we have many paw-some activities that you can book  right here on our website.
        %br
      %hr
