%section#faq
  .container.content-section
    .row
      %h2.text-center Frequently Asked Questions
      %p
        %b I tried to book for myself and a friend but it says it’s full! Why are spaces limited? 
        %br
        %br
        While entry to the café is free, we’re restricting bookings to the two cat rooms to 25 (15 for the larger cat room, 10 to the smaller cat room); this is done as it’s important to ensure the welfare of the cats as well as people! 
      %p
        %b What are your opening times? 
        %br
        %br
        Each session is 1 hour between (7.30am – 7pm Sun-Wed, 7.30am - late Thurs – Sat) and each booking covers 1 session. 
      %p
        %b Is there wheelchair access or wheelchair facilities?
        %br
        %br
        Yes.
      %p
        %b I want to book for myself and a friend/a child, how much is that?
        %br
        %br
        It is $20 per head for the ‘Coffee + Cookies with the Cats’ package and that covers your entry as well as 1 x coffee + 1 x cat-shaped cookie. (1 booking = 1 person)
      %p
        %b Am I allowed to take photos with or of the cats?
        %br
        %br
        Of course! Feel free to snap away (as well as share and hashtag to your heart’s content :P) however, please be mindful not to use flash as this may distress the cats. 
      %p
        %b Can I pick the cats up up?
        %br
        %br
        We encourage all our patrons to respect our cat’s privacy (eg. if they are sleeping, please don’t disturb them) and staff will advise on which cats may allow you to pick them up and only please do so under their direction/supervision for their (and your) safety. 
      %p
        %b When is opening night?
        %br
        %br
        Friday the 24th of July. Start time: 6pm, end time: 11pm
        %br
        %br
        Guests will be able to mingle around the cafe with the cat rooms being monitored to a max of 10 people for one room and 15 for the other (at any one time). 
        %br
        %br
        We ask that if you do take photos of or with the cats to please ensure the flash is off to protect the cat's eyes (and if you put them up on facebook/instagram/etc, please tag us at #catmospheresyd as we'd love to check out your snaps!)
        %br
        %br
      %p
        %b What do I wear for the opening night?
        %br
        %br
        Feel free to wear whatever is comfortable with you whether that be casual or cosplay!
      %p
        %b So how much does it cost?
        %br
        %br
        It'll be $20 however that is for an hour entry into the cat room (will be timed) with a complimentary hot beverage and cookie as part of the package! If you're just visiting the cafe for a bite or to watch/video the cats play, there's no fee! 
      %p
        %b Can I take a photo of the cats?
        %br
        %br
        Of course! Just make sure there's no flash as this damages their sensitive eyes. Feel free to also tag us at #catmospheresyd on insta or Facebook!
      %p
        %b How many cats will be there?
        %br
        %br
        There will be 10 cats in the 22 sqm room and 15 for the 50sqm room.
      %p
        %b Is there a limit on the number of people allowed in the cat-rooms?
        %br
        %br
        Yes. It'll be to a 1:1 ratio so 10 humans in the 22sqm and 15 in the 50sqm maximum at any one time.
      %p
        %b Where will you be finding the cats?
        %br
        %br
        Catmosphere Sydney will be sourcing its cats exclusively through rescue organisations. The Catmosphere Sydney team is already working closely with Sydney-based stray cat charity group Inner City Strays, and is also in talks with the Sydney Dogs and Cats Home and the World League for Protection of Animals, to find cats who need a home. 

        To ensure the cats we choose are happy in their new environment, we will be meeting and assessing prospective cats over the coming months to find cats who enjoy the company of both humans and other cats. 
      %p
        %b What kind of precautions will you be taking to maintain proper hygiene in Catmosphere Sydney?
        %br
        %br

        At Catmosphere Sydney, the rigorous maintenance of health and hygiene standards will be of the utmost importance – after all, no one wants to take a sip of their latte and cough up a fur ball. For this reason, Catmosphere Sydney will keep the cats and the café in two separate areas. In accordance with Sydney City Council regulations, these areas will be separated by an airlock (thereby negating the possibility of either cats or cat fur infiltrating the café area), and guests will be required wash and sanitise their hands upon both entry and exit from the cat area.
      %p
        %b Will the cats be allowed periods of rest during the day?
        %br
        %br
        Absolutely! Catmosphere Sydney will rotate its cats every few hours, allowing them to rest in a cat-only area that will remain inaccessible to guests. We will also have a dedicated cat handler working in the cat section who will constantly monitor the cats and remove any who look as if they need a respite from all the human admiration.
      %p
        %b How will the wellbeing of cats and guests be maintained in Catmosphere Sydney?
        %br
        %br
        As mentioned above, Catmosphere Sydney will employ a dedicated cat handler to oversee the wellbeing of both the cats and the guests. It will be the responsibility of the handler to ensure all guests treat the cats respectfully, to remove any cats who need a break, and generally ensure that all felines and humans are enjoying themselves.
      %p
        %b Will guests be able to bring their own cats?
        %br
        %br
        As much as we would love to allow guests to bring their own cats for a play date with ours, health and safety regulations prohibit us from hosting any external pets. 
      %p
        %b Will guests be able to adopt the Catmosphere cats?
        %br
        %br
        As we want to create a stable, familial community for the cats we adopt, we have decided against adopting out the Catmosphere Sydney cats to customers, as the constant coming and going of cats would foster a transient environment for the felines in our care.

        However, it is our goal for Catmosphere Sydney to connect rescue cats in need with loving homes. To this end, we will be working with groups such as Inner City Strays to adopt out stray and rescue cats via Catmosphere Sydney. We will achieve this by stocking our café with iPads connected to a database of cats currently available for adoption, thereby enabling and encouraging our guests to bring a feline into their family if they are able to do so. 

      %p
        %b Have more questions? Get in contact with Catmosphere Sydney’s media contact:
        %br
        %br
        Thomas Derricott, co-founder, Catmosphere Sydney
        %br
        M: 0450 701 485

