%section#faq
  .container.content-section
    .row
      %h2.text-center Frequently Asked Questions
      %p
        %b I tried to book for myself and a friend but it says it’s full! Why are spaces limited? 
        %br
        %br
        While entry to the café is free, we restrict bookings to the cat rooms to 10 - 12 per hour. This is done to ensure the happiness and welfare of our brave Catstronauts while our guests enjoy their coffee. For our “Space Academy” kitten room on the ground floor, we limit entry to 5 people at any given time.
      %p
        %b What are your opening times? 
        %br
        %br
        We are open from 10am to 6pm Monday to Wednesday; 10am to 8pm Thursday and Friday; and 9am to 8pm Saturday and Sunday. Each day we close between 3pm and 4pm to give our cats a rest.
      %p
        %b Is there wheelchair access or wheelchair facilities?
        %br
        %br
        While our cat room is situated on the first floor, or “Space Academy” kitten room on the ground floor is fully wheelchair accessible. For any guests visiting in wheelchairs, we recommend booking to have your coffee or drink with our kitten cadets on the ground floor. 

      %p
        %b How much does it cost to visit the cats? 
        %br
        %br
        $20 will buy you a coffee/tea/hot chocolate and a cat-shaped cookie, the former of which can be enjoyed in our space cat room with our 20 resident catstronauts. During peak periods, we limit time in the cat room to one hour, however during quieter periods guests are welcome to stay as long as they wish.
        %br
        For guests who are looking to play with rescue kittens, they can book in to enjoy their coffee or drink in our “Space Academy” kitten room. As kittens require lots of sleep, we limit visits to the kitten room to 30 minutes.  
      %p
        %b Can I still enter the cat room if I don’t have a booking?
        %br
        %br
        While entry to the cat room will be contingent on availability of spaces, we do welcome guests to enter without a booking. Simply keep in mind that entry to the cat room commences on the hour, and that weekend bookings disappear quickly!
      %p
        %b Am I allowed to take photos with or of the cats?
        %br
        %br
        Of course! Feel free to snap away (as well as share and hashtag to your heart’s content), however please be mindful not to use flash as this may distress the cats. 
      %p
        %b Can I pick the cats up up?
        %br
        %br
        As each Catstronaut has different preferences when it comes to hooman interaction, we advise all of our guests to follow the Cat Handler’s instructions when interacting with our resident felines. Some love to be picked up and cuddled, some like to be admired from a distance, and some like to be gently stroked behind the ears. As the welfare of the cats is our priority, we ask that all guests respect the wishes of our intrepid space felines, and give them room when they so require it.
      %p
        %b Where did you find the cats? 
        %br
        %br
        In addition to being galaxy-roaming Catstronauts, all of our cats are rescues who are being fostered from the World League for Protection of Animals. WLPA has worked closely with Catmosphere to select sociable cats that are comfortable interacting with hoomans, thereby ensuring all of our resident felines enjoy (or at least tolerate) the presence of homo sapien guests.
        %br
        At certain times of the year, Catmosphere Sydney also hosts rescue kittens that can be visited in our "Space Academy" room. The rescue kittens are available for adoption through Kitten University, one of Catmosphere Sydney’s animal welfare partners. Adoptions are not facilitated at Catmopshere but Kitten University welcome all potential kitten owners to contact them to discuss.
      %p
        %b Is there an ideal time of day to visit the cats?
        %br
        %br
        Cats tend to sleep for around 18 hours a day, and we have observed that many of our resident catstronauts favour the afternoon as their ideal period for a cat nap. If you (like us!) find the presence of sleeping cats to be therapeutic, the early afternoon is a supurrb time to visit. If, however, you prefer your space cats when they’re at their zaniest, we recommend booking a session for either the morning or evening.  
      %p
        %b What kind of precautions do you take to maintain proper hygiene in Catmosphere Sydney? 
        %br
        %br
        At Catmosphere Sydney, the rigorous maintenance of health and hygiene standards is of the utmost importance – after all, no one wants to take a sip of their latte and cough up a fur ball. For this reason, Catmosphere Sydney keeps the cats and the café in two separate areas. In accordance with Sydney City Council regulations, these areas are separated by airlock doors (thereby negating the possibility of either cats or cat fur infiltrating the café area), and guests are required to wash and sanitise their hands upon both entry and exit from the cat area. 
      %p
        %b Are the cats allowed periods of rest during the day? 
        %br
        %br
        Absolutely! The Catmosphere Sydney cat rooms feature a myriad of shelves, nooks, and cat condos that allow the Catstronauts to remove themselves from the environment and nap whenever they wish. We also have a dedicated Cat Handler who constantly monitors the Catstronauts and removes any who look as if they need a respite from all the hooman admiration.
        %br
        Catmosphere Sydney also closes its cat rooms for certain periods during the afternoon to ensure our Catstronauts can enjoy periods of uninterrupted rest before embarking on their evening hijinks.  
      %p
        %b How is the wellbeing of cats and guests maintained in Catmosphere Sydney? 
        %br
        %br
        As mentioned above, Catmosphere Sydney employs a dedicated Cat Handler to oversee the wellbeing of both the cats and the guests. It will be the responsibility of the handler to ensure all guests treat the cats respectfully, to remove any cats who need a break, and generally ensure that all felines and humans are enjoying themselves. 
      %p
        %b Can guests bring their own cats? 
        %br
        %br
        As much as we would love to allow guests to bring their own cats for a play date with ours, health and safety regulations prohibit us from hosting any external pets. 
      %p
        %b Can guests adopt the Catmosphere cats? 
        %br
        %br
        All the adult cats at Catmosphere Sydney are being kept with us as part of their socialisation process prior to adoption, with the eventual aim being to find them a “furrever home” in conjunction with our friends at the World League for Protection of Animals. The cats are fostered by Catmosphere Sydney, and are adopted out to loving caretakers when the World League for Protection of Animals deems each cat ready.
        %br
        During certain stages of the year, Catmosphere Sydney will also be hosting rescue kittens that are available for adoption through animal welfare group Kitten University. Anyone interested in adopting a kitten cadet can meet them first by booking in for a coffee in our “Space Academy” kitten room.
        %br
        Catmosphere Sydney does not facilitate adoptions – we only act as a foster home for cats and kittens that might need our help. Any and all adoptions are organised through our partner rescue groups, outside of Catmosphere Sydney.
      %p
        %b How can I support Catmosphere's rescue cats?
        %br
        %br
        You can donate to us directly, or sponsor a cat! All funds go towards the care of our resident and foster rescue cats, supporting our partnerships with the World League for Protection of Animals and Kitten University. To donate, click the button below:
        :plain
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="QK7UGSKTRM2GY">
                <input type="image" src="https://www.paypalobjects.com/en_AU/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal — The safer, easier way to pay online.">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_AU/i/scr/pixel.gif" width="1" height="1">
                </form>
      %p
        %b Have more questions? Get in contact with Catmosphere Sydney’s media contact: 
        %br
        %br
        Darren Eldred, General Manager, 0447 609 832
        %br

