%section#hero-sydney
  .container.content-section
    .row
      .col-lg-8.col-lg-offset-2.text-center
        %h2.text-center
          Liberty, Equality, Fraternity, Cats!
        %p.text-center.smaller{:style => "background: rgba(0,0,0,0.3);"} 
          Catmosphere Sydney is the purr-fect escape from the daily grind. Play with our feline friends as they enjoy gravity and observe us humans in our natural habitats. 
      .row
        .col-sm-12.text-center
          .btn-group
            %a.page-scroll.btn.btn-default.btn-lg.btn-white{ href: 'http://bookeo.com/catmosphere?type=group', target: "_blank" }
              Book now
