%section#introduction
  .container.content-section
    .row
      .col-lg-8.col-lg-offset-2
        %p.text-center
          =image_tag('sydney-poster-1.jpg', width: '500')
        %h2.text-center
          Liberty, Equality, Fraternity, Cats!
        %p.text-center.smaller
          This July, Sydney's aspiring astronauts and cat-lovers need look no further than their own city for a place to unite their passions. Sydney’s first and only space themed Cat Café is landing in our CBD. Catmosphere is a tribute and a home to brave astro-cats returning to Earth with many a tale of outer space adventures in galaxies far far away. 
        %p.text-center
          Catmosphere's domesticates have resolutely dedicated their past lives to space exploration and are back to basking in the Earth’s glorious oxygenated biosphere where any and all Homo sapiens who wish to enjoy their company will be able to enjoy quality locally brewed coffee and a mouthwatering seasonal menu. 
        %p.text-center
          Join us for a coffee, a meal, or maybe a nice cool drink for the purr-fect escape from the daily grind and a chance to play with our furry friends as they enjoy gravity and observe us humans in our natural habitats. 
        %p.text-center
          For those who wish to help us along the way to making a home in Sydney for our feline friends visit 
          %a{:href => "http://www.indiegogo.com/"} Indiegogo
          to pledge your support. Perks include a variety of Catmosphere merchandise and even a private meet and greet for you and your friends.
        %p.text-center
          %a{ :href => "https://www.indiegogo.com/projects/catmosphere-sydney-space-cat-cafe/x/9804136"}
            %button.btn.btn-success Make it happen!
    .row
      .col-md-6.col-md-offset-3.text-center
        -# %h2 Contact Us
      .col-md-6.col-md-offset-3.text-center
        %a{ :title => 'Facebook', :href => "https://www.facebook.com/pages/Catmosphere-Sydney-Space-Cat-Cafe/1565145703732998" }
          %i.fa.fa-facebook-square.icon.fa-3x
        \&nbsp;
        %a{ :title => 'Instagram', :href => "http://instagram.com/catmospheresyd" }
          %i.fa.fa-instagram.fa-3x
        \&nbsp;
        %a{ :title => 'Youtube', :href => "http://www.youtube.com/channel/UCoeGMBTjot1mfdnXbw6xwPA" }
          %i.fa.fa-youtube-square.fa-3x
        \&nbsp;
        %a{ :title => 'Email', :href => "mailto:sydney@catmospherecafe.com" }
          %i.fa.fa-envelope-o.fa-3x
    .row
      .col-md-6.col-md-offset-3.text-center.table-padded
        sydney [at] catmospherecafe [dot] com


