%section#location.container.content-section
  %h2.text-center Catmosphere Café Sydney
  .row
    .col-md-6.col-md-offset-3
      %iframe{:src => "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3312.194919121853!2d151.2112707!3d-33.8846335!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae18b3349273%3A0xac8157374c05c351!2s66+Foveaux+St%2C+Surry+Hills+NSW+2010%2C+Australia!5e0!3m2!1sen!2s!4v1432966603756", :height => "300", :frameborder => "0"}
  .row
    .col-md-6.col-md-offset-3.text-center.table-padded
      Catmosphere Cat Café Sydney, 66 Foveaux Street
      %br
      Surry Hills, Sydney, NSW, 2010
      %br Opening times: Mo - Fri: 10am - 8pm, Sat - Sun: 9am - 8pm
    .col-md-6.col-md-offset-3.text-center.table-padded
  .row
    .col-md-6.col-md-offset-3.text-center
      %br
      %a{ :title => 'Facebook', :href => "https://www.facebook.com/pages/Catmosphere-Sydney-Space-Cat-Cafe/1565145703732998" }
        %i.fa.fa-facebook-square.icon.fa-3x
      \&nbsp;
      %a{ :title => 'Instagram', :href => "http://instagram.com/catmospheresyd" }
        %i.fa.fa-instagram.fa-3x
      \&nbsp;
      %a{ :title => 'Google+', :href => "https://plus.google.com/116372658129649558597/about" }
        %i.fa.fa-google-plus-square.fa-3x 
      \&nbsp;
      %a{ :title => 'Youtube', :href => "http://www.youtube.com/channel/UCoeGMBTjot1mfdnXbw6xwPA" }
        %i.fa.fa-youtube-square.fa-3x
      \&nbsp;
      %a{ :title => 'Email', :href => "mailto:sydney@catmospherecafe.com" }
        %i.fa.fa-envelope-o.fa-3x
    .col-md-3
  .row
    .col-md-6.col-md-offset-3.text-center.table-padded
      :plain
        <div class="fb-like" data-href="http://www.facebook.com/pages/Catmosphere-Sydney-Space-Cat-Cafe/1565145703732998" data-layout="button_count" data-action="like" data-colorscheme="dark" data-show-faces="true" data-share="true"></div>

