%section#mailing
  .white-background
    .container.content-section
      .row
        .col-sm-6.col-sm-offset-3.text-center
          %h2.text-center Stay up-to-date!
          %p.text-center
            Sign up with your email address to get updates on our progress. Or simply follow us on the social networks below!
          %form#subscribe{:action => "/sydney/subscribe", :method => "post", :role => "form", :"accept-charset" => "UTF-8"}
            .form-group
              %input.form-control.email{:name => "email", :type => "email", placeholder: "Enter your email address here"}
              = token_tag form_authenticity_token
            %br
            %input.btn.btn-success{:name => "submit", :type => "submit", :value => "Subscribe"}