%section#mailing
  .white-background
    .container.content-section
      .row
        .col-lg-4.col-lg-offset-4.text-center
          %h3.text-center Get Live Updates!
          %p.text-center
            Sign up with your email address to get updates on our progress. We won't send you spam and will keep your address private.


