%nav.navbar.navbar-custom.navbar-fixed-top{role: "navigation"}
  .container
    .navbar-header.page-scroll
      %button.navbar-toggle{"data-target" => ".navbar-main-collapse", "data-toggle" => "collapse", type: "button"}
        %i.fa.fa-bars
      %a.navbar-brand{href: "#page-top"}
        -#%i.fa.fa-play-circle
        %span.light 
          Catmosphere Café Sydney
        .fb-like{ :"data-href" => "https://www.facebook.com/pages/Catmosphere-Sydney-Space-Cat-Cafe/1565145703732998", :"data-layout" => "button_count", :"data-action" => "like", :"data-colorscheme" => "dark", :"data-show-faces" => "true", :"data-share" => "true"}
