%nav.navbar.navbar-custom.navbar-fixed-top{role: "navigation"}
  .container
    .navbar-header.page-scroll
      %button.navbar-toggle{"data-target" => ".navbar-main-collapse", "data-toggle" => "collapse", type: "button"}
        %i.fa.fa-bars
      %span.light
        %a.navbar-brand{href: "/"}
          Catmosphere Café
    / Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse.navbar-right.navbar-main-collapse
      %ul.nav.navbar-nav
        / Hidden li included to remove active class from about link when scrolled up past about section
        %li.hidden.page-scroll
          %a{href: "#page-top"}
        %li.page-scroll
          %a{href: "/#introduction"} About
        %li.page-scroll
          %a{href: "/#shop"} Shop
        %li.dropdown
          %a.dropdown-toggle{:href => "#", "role" => "button", "data-toggle" => "dropdown", "data-target" => "#"}
            Chiang Mai
            %b.caret
          %ul.dropdown-menu{"role" => "menu"}
            %li
              %a{:href => "/chiangmai#team"} 
                Crew
              %a{:href => "/chiangmai#cinema"}
                Cat Cinema
              %a{:href => "/chiangmai#coffee"} 
                Menu
              %a{:href => "/chiangmai#location"} 
                Location
        %li
          %a{href: "#", style: "color: #FFF;"} Sydney
