%section#sponsor
  .white-background
    .container.press-section
      %h2.text-center
        Proudly supported by
      %p.text-center
        %a{ :href => "https://www.petcircle.com.au/", target: '_blank'}
          = image_tag('petcircle.png')
      %p.text-center All your pet needs, delivered to your door.
      %hr