%section#voucher
  .white-background
    .container.press-section
      %h2.text-center
        Gift Voucher
      %p.text-center Vouchers can be used to book a session at a later time. Click the button below to purchase a gift voucher.
      %p.text-center
        %a{ :href => "http://bookeo.com/go/233LXWHLP14C4EC0D17C/buyvoucher", target: '_blank'}
          %img{ :src=> "http://www.bookeo.com/buttons/book_buyvoucher_en.png"}
    %br
