%section#introduction
  .container.content-section
    .col-lg-8.col-lg-offset-2
      %p.text-center
        =image_tag('Catmosphere-Logo.png', width: '200')
      %h3.text-center Catmosphere Café Sydney
      %p.text-center
        COMING SOON
