%p
  Thank you for signing up to our mailing list! You'll now be redirected to the main website.

:javascript
    window.setTimeout(function(){

        window.location.href = "/sydney";

    }, 3000);
