%nav.navbar.navbar-custom.navbar-fixed-top{role: "navigation"}
  .container
    .navbar-header.page-scroll
      %button.navbar-toggle{"data-target" => ".navbar-main-collapse", "data-toggle" => "collapse", type: "button"}
        %i.fa.fa-bars
      %span.light
        - if current_page?(root_path)
          %a.navbar-brand{href: "#page-top"}
            Catmosphere Café
        - else
          %a.navbar-brand{href: "/"}
            Catmosphere Café
    / Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse.navbar-right.navbar-main-collapse
      %ul.nav.navbar-nav
        / Hidden li included to remove active class from about link when scrolled up past about section
        - if current_page?(root_path)
          %li.hidden
            %a{href: "#page-top"}
          %li.page-scroll
            %a{href: "#introduction", style: "color: #FFF;"} Home
        -else
          %li.hidden
            %a{href: "/"}
          %li.page-scroll
            %a{href: "/#introduction", style: "color: #FFF;"} Home         
        %li.dropdown
          %a.dropdown-toggle{:href => "#", "role" => "button", "data-toggle" => "dropdown", "data-target" => "#"}
            Sydney
            %b.caret
          %ul.dropdown-menu{"role" => "menu"}
            %li
              %a{:href => "/sydney#introduction"} 
                About
            %li
              %a{:href => "/sydney#booking"}
                Booking
            %li
              %a{:href => "/sydney#faq"} 
                FAQ
            %li
              %a{:href => "/sydney#mailing"} 
                Newsletter
            %li
              %a{:href => "/sydney#location"} 
                Location
        %li.dropdown
          %a.dropdown-toggle{:href => "#", "role" => "button", "data-toggle" => "dropdown", "data-target" => "#"}
            Chiang Mai
            %b.caret
          %ul.dropdown-menu{"role" => "menu"}
            %li
              %a{:href => "/chiangmai#introduction"} 
                About
            %li
              %a{:href => "/chiangmai#faq"}
                FAQ
            %li
              %a{:href => "/chiangmai#location"} 
                Location
