%section#area.content-section.container
  .row
    .col-lg-8.col-lg-offset-2
      %h2.text-center Chinko Area
      %p
        \Humans have had a low impact on the Chinko/Mbari Drainage basin due to the fact
        \that there are no permanent settlements or agricultural activities within the
        \region. One of the last continuous savanna and rainforest ecosystems, it is
        \about 80,000 sq km of Medio-Sudanian and Sudano-Guinean savanna with some
        \patches of Congolian lowland rainforest. The Chinko Project Area (CPA) covers
        \roughly 17,600 sq km of the basin’s southern part.

      %p.text-center
        %a.btn.btn-default.btn-lg{href: "http://research.chinkoproject.com/habitat_map"}
          View Satellite Map

      %p
        \Public transportation or other vehicle movements are non-existent. The
        \vegetation is therefore, virtually undisturbed from humans, with presently
        \limited but massively increasing, temporal grazing by transhumance livestock.
        \Currently there is no forestry or agricultural exploitation in the area.

      %p
        #area-carousel.owl-carousel
          - %w(from-savannah-into-forest rainforest-canopy savannah-opening-in-southern-chinko the-chinko-river transition-between-rainforest-and-savannah).each do |name|
            .image
              = image_tag('area/'+ name +'.jpg')
              .image-description
                = name.titleize

        :javascript
          $(document).ready(function(){
            $("#area-carousel").owlCarousel({
                items: 1,
                loop: true,
                margin: 10,
                lazyLoad: true,
                merge: true,
                video: true
              });
          });
