.parallax.parallax-area{ data: { center: 'background-position:0px 0px;', top: { bottom: 'background-position:0px 200px;' }  }, style: 'background-position: 0px 0px;' }
%section#area.content-section.container
  .row
    .col-lg-8.col-lg-offset-2
      %h2.text-center Area
      %p
        Humans have had a low impact on the Chinko/Mbari Drainage basin due to
        the fact that there are no permanent settlements or agricultural
        activities within the region. The Chinko nature reserve covers
        roughly 17,600 sq km of the basin’s southern part - representing a
        purely fascinating ecotone of rainforest and savannah.
      %p.text-center
        %a.btn.btn-default.btn-lg{href: "http://research.chinkoproject.com/habitat_map"}
          Explore Habitat Map
