.parallax.parallax-cats{ data: { center: 'background-position:0px -100px;', top: { bottom: 'background-position:0px 400px;' }  }, style: 'background-position: 0px 0px;' }
%section#team.container.content-section
  %h1.text-center
    The Team
  .row
    - team.each do |group, members|
      - members.each do |member|
        .row.table-padded
          .col-sm-4.col-sm-offset-1
            = image_tag('team/' + member[:image], class: 'img-responsive')
            %br
          .col-sm-6
            %h4
              = member[:name]
              %small
                = member[:title]
            = simple_format member[:cv]


