.parallax.parallax-coffee{ data: { center: 'background-position:0px 0px;', top: { bottom: 'background-position:0px 200px;' }  }, style: 'background-position: 0px 0px;' }
%section#coffee
  .white-background
    .container
      .col-lg-8.col-lg-offset-2
        %h2.text-center The Coffee

        %p
          [Our coffee]
