%section#coffee
  .white-background
    .container.content-section
      %h2.text-center The menu
      .row
        .col-md-2.col-md-offset-2
          = image_tag('menu/hotcoffee.jpg', class: 'img-responsive')
          %br
          %h5.text-center Hot Coffee & Tea
          Delicious non-branded coffee we get from our friends in Chiang Mai. Try our Espresso for a quick coffeine kick or our chill out with a creamy cappuccino.
          %br
        .col-md-2
          = image_tag('menu/coldcoffee.jpg', class: 'img-responsive')
          %br
          %h5.text-center Iced Drinks  
          One hot days (every day in Thailand) some prefer to cool down with an iced beverage. We offer Iced Coffee, traditional Thai Iced tea, and tasty Italian Sodas.
        .col-md-2
          = image_tag('menu/spaghetti.jpg', class: 'img-responsive')
          %br
          %h5.text-center Hot Dishes
          Hungry customers are in good hands at Catmosphere thanks to our awesome home-made Spaghetti. We also offer small snacks like french fries and cheese sticks.
        .col-md-2
          = image_tag('menu/cheesecake.jpg', class: 'img-responsive')
          %br
          %h5.text-center Home-made Cakes
          Our premium cakes are the stars of the menu. Select between freshly made Cheesecakes, Banoffi Pie, Mango Cheesepie, and other bakery of the day.