%section#contact.container.content-section.text-center
  .row
    .col-lg-8.col-lg-offset-2
      %h2 Contact

      %p contact@chinkoproject.com
      %ul.list-inline.banner-social-buttons
        %li
          %a.btn.btn-default.btn-lg{href: "https://twitter.com/chinkoproject"}
            %span.network-name Twitter
        %li
          %a.btn.btn-default.btn-lg{href: "https://vimeo.com"}
            %span.network-name Vimeo
        %li
          %a.btn.btn-default.btn-lg{href: "https://#"}
            %span.network-name Newsletter

      %p
        Location
        544 Rue de la Victoire, Bangui
        BP 3193, Central African Republic
        email

        VAT ID: M 342905 W 001
      %p
        %br
