%section#donate.container.content-section
  .row
    .col-lg-8.col-lg-offset-2
      %h2.text-center Donate
      %p The Chinko Project operates under very particular conditions in an area classified among the most remote on the African continent. We can only operate with support by passionate private partners, joining our path towards the fully functioning, sustainable nature management of the Chinko Project. Join us in this important endeavor now: please DONATE online or contact us for further details on donate@chinkoproject.com

      %p Want to stay tuned? Sign up for The Chinko Project Newsletter [here]. No worries, we don not have much spare time, so we will not get more than one message a month from us.
