%section.intro
  #video_wrapper
    %video#ambient_video{autoplay: '', loop: '', muted: '', preload: 'auto', poster: image_path('hero/ambient.jpg') }
      %source{src: "http://vimeo.com/95474106/download?t=1400259250&v=254203230&s=3539f9260a0564b7828e0fe22db8e7bb"}
      %source{src: "http://chinko.s3.amazonaws.com/chinko_project_ambient.webm"}
      %source{src: "http://chinko.s3.amazonaws.com/chinko_project_ambient.ogv"}
  .intro-body
    .container
      .row
        .col-md-12.text-center
          %h1.brand-heading.shadowed Chinko

          .btn-group
            %a.btn.btn-default.btn-lg.btn-white{ href: 'https://vimeo.com/95532257', data: { toggle: 'lightbox', remote: 'https://player.vimeo.com/video/95532257', width: '900' } }
              %span.glyphicon.glyphicon-play
              Watch the video
            %a.page-scroll.btn.btn-default.btn-lg.btn-white{ href: '#introduction' }
              %span.glyphicon.glyphicon-chevron-down
              Learn more
