%section#hero
  #video_wrapper
  .hero-body
    .container
      .row
        .col-md-12.text-center
          = image_tag('logo.png', width: "700")
      .row
        .col-md-12.text-center
          .btn-group
            %a.btn.btn-default.btn-lg.btn-white{ href: 'https://vimeo.com/103320021', data: { toggle: 'lightbox', remote: 'https://vimeo.com/103320021', width: '980' } }
              %i.fa.fa-caret-right
              Watch the video
            %a.page-scroll.btn.btn-default.btn-lg.btn-white{ href: '#introduction' }
              %i.fa.fa-caret-down
              Learn more
