%section.intro
  #video_wrapper
    %video#video_loop.header-video{autoplay: '', loop: '', muted: '', preload: 'auto'}
      %source{src: "http://vjs.zencdn.net/v/oceans.mp4"}
      %source{src: "http://vjs.zencdn.net/v/oceans.webm"}
      %source{src: "http://vjs.zencdn.net/v/oceans.ogv"}
  .intro-body
    .container
      .row
        .col-md-8.col-md-offset-2
          %h1.brand-heading Chinko
          %p.intro-text Wilderness und so
          .page-scroll
            %a.btn.btn-circle{href: "#introduction"}
              %i.fa.fa-angle-double-down.animated
