%section#hero
  #video_wrapper
  .hero-body
    .container
      .row
        .col-md-12.text-center
          %h1.brand-heading.shadowed Chinko

          .btn-group
            %a.btn.btn-default.btn-lg.btn-white{ href: 'https://vimeo.com/95532257', data: { toggle: 'lightbox', remote: 'https://player.vimeo.com/video/95532257', width: '900' } }
              %span.glyphicon.glyphicon-play
              Watch the video
            %a.page-scroll.btn.btn-default.btn-lg.btn-white{ href: '#introduction' }
              %span.glyphicon.glyphicon-chevron-down
              Learn more
