%section.intro
  #video_wrapper
    %video#video_loop.header-video{autoplay: '', loop: '', muted: '', preload: 'auto'}
      %source{src: "http://vimeo.com/95228621/download?t=1400193415&v=253438850&s=f7fb10d41c766a43cdd84a2ff769910a"}
      %source{src: "http://vjs.zencdn.net/v/oceans.webm"}
      %source{src: "http://vjs.zencdn.net/v/oceans.ogv"}
  .intro-body
    .container
      .row
        .col-md-12.text-center
          %h1.brand-heading.shadowed Chinko
          %p.intro-text Untouched wilderness in the Central African Republic

          .btn-group
            %a.btn.btn-default.btn-lg.btn-white{ href: 'https://vimeo.com/95228621', data: { toggle: 'lightbox', remote: 'https://player.vimeo.com/video/95228621', width: '900' } }
              %span.glyphicon.glyphicon-play
              Watch the video
            %a.page-scroll.btn.btn-default.btn-lg.btn-white{ href: '#introduction' }
              %span.glyphicon.glyphicon-chevron-down
              Learn more
