%section#introduction
  .white-background
    .container
      .col-lg-8.col-lg-offset-2
        %h2.text-center About

        %p
          The Chinko Project sustainably manages a nature reserve in the heart of Africa –
          one of the last pristine mosaics of wooded savannah and tropical lowland
          rainforest deep within the Central African Republic. This project goes beyond
          conservation, it represents hope for stability and governance in one of the
          poorest regions on earth with an endless history of conflict, corruption,
          depletion of natural resource and military conflict.

        %p
          We are passionate about Africa – for both its wildlife and people – and believe
          there is a way for both to coexist. The Chinko Project, as a governance body,
          supports local communities, protects the ecosystem, and maintains economic value
          through tourism – providing the key to a sustainable future for this thriving
          ecosystem.

        %p.text-center
          = image_tag 'signature_david.png'
          %br
          %small David Simpson, CEO
