%section#introduction
  .white-background
    .container
      .col-lg-8.col-lg-offset-2
        %p.text-center
          =image_tag('Catmosphere-Logo.png', width: '200')
        %h3.text-center About the Cat Café
        %p.text-center
          Catmosphere is a space-themed cat café. Our café is a tribute to all those brave cats who have dedicated their lives to space exploration. It features decoration and art by several artists from Thailand and abroad. Visitors can enjoy served high-quality local coffee, home-made dishes and pastries. And of course play with the cats!
        %br
        %br

