%section#introduction
  .white-background
    .container.content-section
      .row
        .col-lg-8.col-lg-offset-2
          %p.text-center
            =image_tag('Catmosphere-Logo.png', width: '200')
          %h3.text-center About Catmosphere Cat Café
          %p.text-center
            Catmosphere is the first global space cat café franchise. Our mission: to seek out new life and new civilizations, to boldly go where no cat has gone before. Get more information about our locations below.
        %br
      .row
        .col-sm-4.text-center
          %a{href: "/chiangmai"}
            = image_tag('chiangmai.jpg', class: 'img-responsive')
          %br
          %h4.text-center Chiang Mai
          %p.text-center
            19 cats, home-made bakery, coffee from local farmers, plus a 
            %a{href: "/chiangmai#cinema"} cat cinema.
            What's not to like?
          %br
        .col-sm-4.text-center
          %a{href: "/sydney"}
            = image_tag('sydney.jpg', class: 'img-responsive')
            %br

          %h4.text-center Sydney
          %p.text-center
            Opening on July 25th, 2015.
            %br
            %br
            %a{ :href => "https://bookeo.com/catmosphere"}
              %button.btn.btn-success Book now!

        .col-sm-4.text-center
          %a{href: "/downloads/Catmosphere-Franchisee-v1.0.pdf"}
            = image_tag('yours.jpg', class: 'img-responsive')
          %br
          %h4.text-center Your hometown
          %p
            Yes, YOUR hometown needs a space cat café.
            %a{href: "/downloads/Catmosphere-Franchisee-v1.0.pdf"}
              Click here
            for further instructions.
