%section#introduction
  .white-background
    .container.content-section
      .row
        .col-lg-8.col-lg-offset-2
          %p.text-center
            =image_tag('Catmosphere-Logo.png', width: '200')
          %h3.text-center Choose your Warp Target
          %p.text-center
            We currently have two locations with slightly different rules. Most importantly, you need a reservation to spend time with the cats at Catmosphere Sydney. Click on the links below to learn more.
        %br
      .row
        .col-sm-4.text-center
          %a{href: "/sydney"}
            = image_tag('sydney.jpg', class: 'img-responsive')
            %br
            %h4.text-center Sydney Cat Café
          %p.text-center
            Get all the details about Catmosphere Sydney and book your timeslot.
            // %a{ :href => "https://bookeo.com/catmosphere"}
            // %button.btn.btn-success Book now!
        .col-sm-4.text-center
          %a{href: "/chiangmai"}
            = image_tag('chiangmai.jpg', class: 'img-responsive')
            %br
            %h4.text-center Chiang Mai Cat Café
          %p.text-center
            Find out more about our cat café in Chiang Mai and make  
            %a{href: "/chiangmai#cinema"}Cat Cinema reservations.
          %br
        .col-sm-4.text-center
          %a{href: "http://shop.catmospherecafe.com/", :target => "_blank"}
            = image_tag('yours.jpg', class: 'img-responsive')
            %br
            %h4.text-center Space Cat Tees
            %p.text-center
              For those who can't make it to our café but still want to wear our cats on a t-shirt.


