.parallax.parallax-location{ data: { center: 'background-position:0px 0px;', top: { bottom: 'background-position:0px 200px;' }  }, style: 'background-position: 0px 0px;' }
%section#location
  .white-background
    .container
      [MAP]