%nav.navbar.navbar-custom.navbar-fixed-top{role: "navigation"}
  .container
    .navbar-header.page-scroll
      %button.navbar-toggle{"data-target" => ".navbar-main-collapse", "data-toggle" => "collapse", type: "button"}
        %i.fa.fa-bars
      %span.light
        %a.navbar-brand{href: "#page-top"}
          Catmosphere Café
    / Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse.navbar-right.navbar-main-collapse
      %ul.nav.navbar-nav
        / Hidden li included to remove active class from about link when scrolled up past about section
        %li.hidden
          %a{href: "#page-top"}
        %li.page-scroll
          %a{href: "#introduction", style: "color: #FFF;"} About
        %li.page-scroll
          %a{href: "#shop", style: "color: #FFF;"} Comic Book
        %li.dropdown
          %a.dropdown-toggle{:href => "#", "role" => "button", "data-toggle" => "dropdown", "data-target" => "#"}
            Chiang Mai
            %b.caret
          %ul.dropdown-menu{"role" => "menu"}
            %li
              %a{:href => "/chiangmai#team"} 
                Crew
            %li
              %a{:href => "/chiangmai#cinema"}
                Cat Cinema
            %li
              %a{:href => "/chiangmai#location"} 
                Location
        %li.dropdown
          %a.dropdown-toggle{:href => "#", "role" => "button", "data-toggle" => "dropdown", "data-target" => "#"}
            Sydney
            %b.caret
          %ul.dropdown-menu{"role" => "menu"}
            %li
              %a{:href => "/sydney#hero-sydney"} 
                Home
            %li
              %a{:href => "https://bookeo.com/catmosphere", target: '_blank'}
                Booking
            %li
              %a{:href => "/sydney#faq"} 
                FAQ
            %li
              %a{:href => "/sydney#mailing"} 
                Newsletter
            %li
              %a{:href => "/sydney#location"} 
                Location