%section#people.container.content-section.text-center
  .row
    .col-lg-8.col-lg-offset-2
      %h2 People
      %p The Central African people—mostly smallholder farmers living in the villages sedentary to the CPA nature reserve and transhumant herdsmen trespassing the with their livestock to access the meat markets in Bangui—are among the poorest on the continent. Threatened by rebel groups for decades, and far away from the Central African capital, these communities are desperately looking for ways to sustain their livelihoods, and provide a better future for their children. The Chinko Project offers an income, and stability to many of these families as well as through the support of schooling programs, giving the children a chance not possible until now. 
