%section#people.people-section
  .white-background
    .container
      .col-lg-8.col-lg-offset-2
        %h2.text-center People

        %p
          The Central African people — mostly smallholder farmers living in the villages
          sedentary to the Chinko nature reserve, and transhumant herdsmen trespassing with
          their livestock to access the meat markets in Bangui — are among the poorest on
          the continent.
        %p
          The Chinko Project offers an income, and stability to many of these families, and
          through the support of schooling programs gives the children a chance not
          possible until now.

        %p
          #people-carousel.owl-carousel
            - %w(transhumant-herdsmen-family villager-of-bakouma-preparing-peanut-butter bakouma-school-children emelie-teaching-a-class-in-bakouma).each do |name|
              .image
                = image_tag('people/'+ name +'.jpg')
                .image-description
                  = name.titleize

          :javascript
            $(document).ready(function(){
              $("#people-carousel").owlCarousel({
                  items: 1,
                  loop: true,
                  margin: 10,
                  lazyLoad: true,
                  merge: true,
                  video: true
                });
            });
