.parallax.parallax-location{ data: { center: 'background-position:0px -200px;', top: { bottom: 'background-position:0px 100px;' }  }, style: 'background-position: 0px 0px;' }

%section#shop
  .container.content-section
    .row.text-center
      .col-sm-8.col-sm-offset-2
        %h2 Delicious Space Cat Articles
        %p
          Order t-shirts and other fan articles featuring original Space Cat Art at our web shop!
    .row.text-center
      =image_tag('t-shirts.jpg', class: 'img-responsive center-block')
      %br
    .row.text-center
      .col-sm-8.col-sm-offset-2
        %p
          =link_to "Go To Shop", "http://www.redbubble.com/people/theduckymafia/shop", class: "btn btn-success"
        %br
