%section#shop
  .container.content-section
    .col-lg-8.col-lg-offset-2
      %h2.text-center Delicious Space Cat Articles
      %p.text-center
        Order t-shirts and other fan articles featuring original Space Cat Art at our web shop!
      %p.text-center
        =image_tag('t-shirts.jpg', width: "400")

      %p.text-center
        =link_to "Go To Shop", "http://www.redbubble.com/people/theduckymafia/collections/340299-catmosphere", class: "btn btn-danger edituser"
      %br
