.parallax.parallax-location{ data: { center: 'background-position:0px -200px;', top: { bottom: 'background-position:0px 100px;' }  }, style: 'background-position: 0px 0px;' }

%section#shop
  .container.content-section
    .row.text-center
      .col-sm-8.col-sm-offset-2
        %h2 Get the comic book
        %p
          The Adventures of Young Purrwalker is an epic space cat saga taking place not long ago in a nearby galaxy. Issue #001 is now available for free!
    .row.text-center
      =image_tag('purr.jpg', class: 'img-responsive center-block')
      %br

    .row.text-center
      .col-sm-8.col-sm-offset-2
        %p
          %br
          =link_to "Download now!", "/downloads/purrwalker-001.pdf", class: "btn btn-success"
    .row.text-center      
      .col-sm-8.col-sm-offset-2
        %p ... or choose your preferred format below  (right click and "save as..." to download):
        %table.table.table-striped
          %thead
            %tr
              %th.text-center Download
              %th.text-center Format
              %th.text-center Size
          %tbody.white-background
            %tr
              %td
                %a{href: "/downloads/purrwalker-001.pdf", style: "color: #3598a2; text-decoration: underline;"}
                  \#001: Cat Squad Alpha
              %td
                PDF
              %td 
                // %a{href: "/redirect_comic", style: "color: #3598a2; text-decoration: underline;"} 
                17.2 MB
            %tr
              %td
                %a{href: "/downloads/purrwalker-001.cbz", style: "color: #3598a2; text-decoration: underline;"}
                  \#001: Cat Squad Alpha
              %td
                CBZ
              %td 
                // %a{href: "/redirect_comic", style: "color: #3598a2; text-decoration: underline;"} 
                14.4 MB
            %tr
              %td
                \#002: A Cat to Behold
              %td
                N/A
              %td
                N/A
        %br
    .row.text-center
      .col-sm-8.col-sm-offset-2
        %h2
          Want to have issue #002?
        %p
          We’ll continue producing the comic if we get enough requests from our readers. Make sure to
          %a{href: "mailto:ben@catmospherecafe.com", style: "color: #3598a2; text-decoration: underline;"}
            drop us an email
          if you want to see an issue #002!


