

#contactModal.modal.fade{ tabindex: -1, role: 'dialog', aria: { labelledby: 'contactModalLabel', hidden: 'true' } }
  .modal-dialog
    .modal-content
      .modal-header
        %button{type: 'button', class: 'close', data: { dismiss: 'modal' }, aria: { hidden: 'true' } } &times;
        %h4#contactModalLabel.modal-title Contact
      .modal-body
        %p
          %address
            %strong Chinko Project
            %br
            544 Rue de la Victoire, Bangui
            %br
            BP 3193, Central African Republic
            %br
            %br
            VAT ID: M 342905 W 001
            %br
            = link_to 'contact@chinkoproject.com', 'mailto:contact@chinkoproject.com'

      .modal-footer
        %button.btn.btn-default{ data: { dismiss: 'modal' } } Close

%section#subscribe.container.content-section.text-center
  .row
    .col-lg-8.col-lg-offset-2
      %h2 Subscribe

      %p
        Want to stay tuned? Sign up for The Chinko Project Newsletter. No
        \worries, we do not have much spare time, so we will not get more
        \than one message a month from us.

      %p.text-center
        %form#newsletter{ action: 'http://chinkoproject.us3.list-manage.com/subscribe/post?u=6da01d64147ee79181cbb168c&amp;id=1b5194eef5', method: 'post'}
          .row
            .col-lg-10.col-lg-offset-1
              .input-group
                %input.form-control{name: 'EMAIL', type: 'email', placeholder: 'Enter email address'}
                %div{ style: "position: absolute; left: -5000px;" }
                  %input{ type: "text", name: "b_6da01d64147ee79181cbb168c_1b5194eef5", tabindex: "-1", value: "" }
                %span.input-group-btn
                  %input.btn.btn-default{type: "submit" } Subscribe To Newsletter

      %ul.list-inline.banner-social-buttons
        %li
          %a.btn.btn-default.btn-lg{href: "https://twitter.com/chinkoproject", target: '_blank' }
            Twitter
        %li
          %a.btn.btn-default.btn-lg{href: "https://vimeo.com/chinkoproject", target: '_blank' }
            Vimeo
        %li
          %button.btn.btn-default.btn-lg{ data: { toggle: 'modal', target: '#contactModal' }}
            Contact

      %p
        Learn more about the project, the area, it's wildlife, and the Central African
        \people by following us on Twitter, or Vimeo; and feel free contact us any time.
