%section#threats
  .white-background
    .container
      .col-lg-8.col-lg-offset-2
        %h2.text-center
          %span.label.label-danger> Threats
          \ &&nbsp;
          %span.label.label-success> Actions
        %p The Chinko Project Area's ecosystem is today facing two major pressures:
        %ol
          %li
            %p
              Groups of hired, armed herdsmen from Sudan with cattle herds of more than
              \1,000 each come into the CPA to graze the animals and thereby deplete the
              \habitat and put stress on the wildlife. Additionally, some of these groups
              \have discovered the economic benefit of poaching and trading dried Central
              \African bushmeat on Sudanese markets (ie. Nyala)
          %li
            %p
              Professional Ivory poachers, usually comprised of Sudanese professionals and
              \rebel groups, threatening the small herd of surviving forest elephants in
              \the region.


        #threat-carousel.owl-carousel
          - %w(herdsmen-off-the-livestock-corridor remails-of-a-poached-waterbuck herdsmen).each do |name|
            .image
              = image_tag('threat/'+ name +'.jpg')
              .image-description
                = name.titleize

        :javascript
          $(document).ready(function(){
            $("#threat-carousel").owlCarousel({
                items: 1,
                loop: true,
                margin: 10,
                lazyLoad: true,
                merge: true,
                video: true
              });
          });


        %p
          \To solve the problem of grazing we seek to provide positive incentives for the
          \herdsmen to pass through a designated livestock corridor as quickly as possible
          \or encourage the option of avoiding the CPA altogether (ie. by providing
          \shelters and waterholes outside its borders).

        %p
          Any poaching activity, however,
          \must be dealt with by disarming poaching infringers inside the CPA and
          \transporting them to the next state authority.

        #action-carousel.owl-carousel
          - %w(ghisnain-talking-on-educational-workshop-in-bakouma park-ranger-advising-herdsman-to-follow-livestock-cortridor).each do |name|
            .image
              = image_tag('action/'+ name +'.jpg')
              .image-description
                = name.titleize

        :javascript
          $(document).ready(function(){
            $("#action-carousel").owlCarousel({
                items: 1,
                loop: true,
                margin: 10,
                lazyLoad: true,
                merge: true,
                video: true
              });
          });
