%section#wildlife.container.content-section.text-center
  .row
    .col-lg-8.col-lg-offset-2
      %h2 Wildlife
      %p The particular habitat of undisturbed wooded savannah and rainforest in the Chinko/Mbari drainage basin allows for an incredible richness of species, and puzzling phenomena, making it a hotspot of biodiversity. The Chinko Project research division has documented the many species present (mammals and birds), with more than a hundred thousand camera trapping pictures that allow for a rare glimpse into the beauty of the area’s flora and fauna.

      %p
        Explore a selection of these pictures together with our publications online at our
        = succeed '.' do
          = link_to "research platform", "http://research.chinkoproject.com", { target: '_blank' }
