// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#video_wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  background-size: cover;
}

#subscribe {
  padding-bottom: 100px;
}

#ambient_video {
  min-height: 100%;
  min-width: 100%;
}

.white-background {
  background-color: #fff;
  color: #000;
  padding: 100px 10 100px 0;
}

.grey-background {
  background-color: #3f3e33;
  color: #fff;
  padding: 100px 0 100px 0;
}

.content-section {
    padding: 100px 0 100px 0;
}

.google-map {
    width: 300px;
    height: 300px;
}

.table-padded {
    padding: 10px 10px;
}


@media(min-width:767px) {
    .content-section {
      padding-top: 150px;
    }

    .white-background {
      padding-top: 150px;
    }

}

@media(max-width:767px) {
    .content-section {
      padding-left: 15px;
      padding-right: 15px;
    }
}


ol.threats li {
  border-left: 4px solid #d9534f;
  padding: 0 0 0 20px;
  list-style: none;
}

ol.actions li {
  border-left: 4px solid #5cb85c;
  padding: 0 0 0 20px;
  list-style: none;
}

.image {
  position: relative;
}

.image .image-description {
  opacity: 0;
  transition: opacity .25s ease-in-out;
 -moz-transition: opacity .25s ease-in-out;
 -webkit-transition: opacity .25s ease-in-out;
}

.image:hover .image-description {
  opacity: 1;
}

.image-description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #DDD;
  padding: 5px 10px;
  background: rgba(0,0,0,0.5);
}

.form-control {
    border: 1px solid #28c3ab;
    background-color: transparent;
}

.form-control:hover,
.form-control:focus {
    border: 1px solid #28c3ab;
    outline: 0;
}


#newsletter input {
  height: 40px;
  background-color: #000;
  color: #FFF;
}

#newsletter button {
  height: 40px;
  background-color: #000;
  color: #FFF;
  &:hover {
    background-color: #28c3ab;
    color: #000;
  }
}


.modal-dialog {
  color: #000;
}

.btn-white {
  color: #FFF;
  border-color: #FFF;
}

.btn-white:hover {
  color: #000;
  border-color: #FFF;
  background-color: #FFF;
}

.btn-white .glyphicon {
  font-size: 90%;
}

.shadowed {
   color: rgba(255,255,255,0.7);
  -webkit-text-stroke: 1px rgba(0,0,0,0.5);
  text-stroke: 1px rgba(0,0,0,0.5);
}

#chinko-dropdown {
  left: 0;
  right: auto;
}


.btn-donate {
  color: #000;
  background-color: rgba(255,255,255,0.5)
}

.btn-donate img {
  width: 150px;
  margin-bottom: 10px;
  display: block;
}

.btn-donate:hover {
  color: #000;
  background-color: #FFF;
}

.stripe-button-el {
  width: 150px;
}

.donation {
  padding: 0 5px;
  margin-bottom: 15px;
}


.donation img {
  margin-bottom: 15px;
  display: inline-block;
}

.donation {
  text-align: center;
}

#custom-amount {
  background: #FFF;
  font-weight: bold;
  border: 1px solid #229ce2;
}

.custom-amount-form {
  display: none;
}

.custom-amount-form .input-group {
  margin-bottom: 15px;
}

.custom-amount-form .input-group-addon {
  color: #FFF;
  font-weight: bold;
  background: #1275ff;
  background-image: -webkit-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  background-image: -moz-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  background-image: -ms-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  background-image: -o-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  background-image: -webkit-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  background-image: -moz-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  background-image: -ms-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  background-image: -o-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  background-image: linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  -webkit-font-smoothing: antialiased;
  border: 0;
  text-decoration: none;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
  -ms-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
  -o-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
  box-shadow: 0 1px 0 rgba(0,0,0,0.2);
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

#donate abbr {
  border-bottom: 1px dotted #229ce2;
  cursor: pointer;
}

.parallax {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 0px 0px 71px 4px rgba(0,0,0,0.62);
  -moz-box-shadow: inset 0px 0px 71px 4px rgba(0,0,0,0.62);
  box-shadow: inset 0px 0px 71px 4px rgba(0,0,0,0.62);
}

.parallax-cats {
  background-image: asset-url('parallax/area.jpg');
}

.parallax-location {
  background-image: asset-url('parallax/location.jpg');
}


#subscribe {
  height: 100%;
  width: 100%;
}

.dropdown-menu > .active > a {
  background-color: #FFF;
  color: #333;
}

.dropdown-menu > li.active:hover {
  background-color: #333;
}

.dropdown-menu > li:hover {
  background-color: #333;
}

.dropdown-menu > li:hover > a {
  color: #fff;
}

iframe, object, embed { width: 100%; }